---
---

@import "{{ site.theme }}";

.warning {
	color: #c0392b !important;
	border-color: #c0392b !important;
	background-color: rgba(231, 76, 60, 0.15) !important;
}

.exemple {
	color: #27ae60 !important;
	border-color: #27ae60 !important;
	background-color: rgba(46, 204, 113, 0.15) !important;
}

.note {
	color: #2980b9 !important;
	border-color: #2980b9 !important;
	background-color: rgba(52, 152, 219, 0.15) !important;
}